<div id="GCodeDropNotification" class="GCodeReservation">
    <div class="GCodeReservation" id="GCodeReservation">
      <div class="GCodeReservationInfoContainer">
          <div class="GCodeTitle subtitle2" id="GCodeTitle">
              project_name.gcode
          </div>
          <div class="GCodeDetail caption"> 
            <div id="LoadingBar"></div>
            <div id="GCodeTimeEstimate"></div>
          </div>
      </div>
      <div class="Button GCodeClose" id="cancelButton"></div>
      <div id="PrintOptions">
        
        <div class="MenuOption">
          <div class="InfoTextOption"> 
            <div class="subtitle2">
              Recommended
            </div>
            <div class="caption">
              Tomorrow at 8:15
            </div>
          </div>
          <div id="arrow">></div>
        </div>

        
        <div class="MenuOption">
          <div class="InfoTextOption"> 
            <div class="subtitle2">
              Urgent
            </div>
            <div class="caption">
              Today at 13:15
            </div>
          </div>
          <div id="arrow">></div>
        </div>

        <div class="MenuOption">
          <div class="InfoTextOption"> 
            <div class="subtitle2">
              Other Options
            </div>
            <div class="caption">
              manual
            </div>
          </div>
          <div id="arrow">></div>
        </div>

        <div class="PrivateOption"><input type="checkbox">  Class Related</div>
      </div>
    </div>
  </div>