<!-- GCODE Reservation Notification -->
<div id="GCodeDropNotification" class="GCodeReservation">
    <div class="GCodeReservation" id="GCodeReservation">
      <div class="GCodeReservationInfoContainer" id="back">
          <div class="GCodeTitle subtitle2" id="GCodeTitle">
              project_name.gcode
          </div>
          <div class="GCodeDetail caption">
            <!-- <div id="PreviousButton"><</div> -->
            <div id="LoadingBar"></div>
            <div id="GCodeTimeEstimate"></div>
          </div>
      </div>
      <div class="Button GCodeClose" id="cancelButton"></div>
      
      <div id="DetailsDialog">
        <!-- First Slide Page -->
        <div id="PrintOptions">replaced by print object details</div>
        <!-- Second Slide Page -->
        <div id="Confirmation">
          <div class="receipt">
            <div id="confirm-schedule" class="subtitle">
              8:15 tomorrow morning 
            </div>
            <div id="confirm-printer" class="caption">
              printer 1
            </div>
            <div id="confirm-filament" class="caption">
              1600.01 mm 
            </div>
          </div>
          <div id="reserve-button" class="confirm Button">RESERVE</div>
        </div>
      </div>
    </div>
  </div>