.TempNav {
    background-color: black;  
    color: white;
    width: 100%;
    height: 50px;
    padding-top: 15px;
}
.PageTitle{
    margin-left: 20px;
    text-align: left;
    float: left;
}
.UserInfo {
    margin-right: 20px;
    text-align: right;
    text-transform: capitalize;
}

.HorizontalScrollingContainer {
  /* width: 100%; */
  margin-top: 40px;
  overscroll-behavior-x: none;
  overflow-y: hidden; /*whole page should be scrolling.. not this div*/
  overflow-x: scroll;
  white-space: nowrap;
  background-color: transparent;
  /* border-width: 1px;
  border-color: red;
  border-style: solid;
  */
}

.TimeContainer {
  position: relative;
  background-color: transparent;
  display: inline-block;
  height: auto;
  width: 100%;
  margin-bottom: 10px;
  font-size: small;
  /* overflow-y: hidden; */
  /* overflow-x: hidden; */
}

.Day {
  height: 25px;
}

.TimeElement {
  display: inline-block;
  background-color: #F3F2EF;
  vertical-align: middle;
  width: 100px;
  // width: 10%;
  color: black;
  white-space: nowrap;
}

.Queue {
  position: relative;
  vertical-align: middle;
  margin-bottom: 5px;
  height: 50px;
  width: 100%;
  background-color: transparent;
   /* border-width: 1px; */
   /* border-color: green; */
   /* border-style: solid; */
}

.LeftColumnTitle {
  z-index: 1;
  position: fixed;
  background-color: #F3F2EF;
  opacity: 0.8;
  font-size: x-large;
  text-align: center;
  vertical-align: middle;
  color: black;
  float: left;
  width: 4%;
  height: 50px;
  line-height: 2.1;
  overflow: hidden;
 
}

.RightColumnOpacity { 
  z-index: 1;
  position: fixed;
  right: 0px;
  background-color: #F3F2EF;
  opacity: 0.8;
  width: 4%;
  height: 50px;  
}

.Job {
  /* https://stackoverflow.com/questions/5209814/can-i-position-an-element-fixed-relative-to-parent */
  position: absolute;
  margin: 0px;
  float: left;
  text-align: left;
  width: 20%;
  height: 100%;
  background-color: #C23546;
  color: #E5E5E5;
  border-radius: 8px;
  // transition: left 2s;s
  // transition-property: transform;
  // transition-duration: 1s;
  // transition-timing-function:ease-in-out;

  // &:not(.Dragging) {
    // transition: top 2s;
    // transition-property:transform;
    // transition-duration: 1s;
    // transition-timing-function:ease-in-out;
  // }
  -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
}

.Job:hover {
  border-width: thin;
  border-color: black;
  border-style: solid;
}

.StartTime {
  // height: 100%;
  margin-left: 6px;
  margin-top: 15px;
  cursor: grab;
  -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
  // font-style: oblique;
  // background-color: paleturquoise;
  // text-align: left;
}

.ScrollMargin {
  height: 10px;
  width: 100%;
}

.Urgent {
  background-color: #F0AE1A;
  overflow: hidden;
  position: absolute;
  margin: 0px;
  float: left;
  text-align: left;
  width: 20%;
  height: 100%;
  color: #E5E5E5;
}

.Private {
  background-color: #3B208B;
  overflow: hidden;
  position: absolute;
  margin: 0px;
  float: left;
  text-align: left;
  width: 20%;
  height: 100%;
  color: #E5E5E5;
}

.New {
  background-color: green;
  overflow: hidden;
  position: absolute;
  margin: 0px;
  float: left;
  text-align: left;
  width: 20%;
  height: 100%;
  color: #E5E5E5;
}

.SlideContainer {
  z-index: 1000;
  position: relative;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 10px;
}

.Slider {
  position: absolute;
  right: 30px;
  top: 0px;
}

.Legend {
  position: absolute;
  left: 2%;
  margin-top: 30px;
  width: 50%;
  height: 50px;
  display: grid;
}

.Key {
  position: relative;
  width: 60px;
  height: 20px;
  border-radius: 8px;
  float: left;
  margin: 5px;
}

.LegendText {
  position: relative;
  margin-left: 35px;
  line-height: 1.8;
}

.Actions {
  position: absolute; 
  display: grid;
  grid-template-columns: 1fr 1fr;
  right: 5%;
  width: 30%;
  height: 100px;
  padding: 20px;
  padding-left: 50px;
}

.GantAction {
  margin: 10px;
  background-color: black;
  color: white;
}

.GantAction:disabled {
  opacity: 10%;
}