#about {

  h1,
  h1+p {
    text-align: right;
    margin: 0 0 0 auto;
  }

  p {
    width: 80%;
  }

  img {
    width: 100%;
  }
}

#kontaktperson {
    margin: 20px;
    margin-top: 50px;
    width: 30%;
    text-align: center;
    float: left;

    p {
        width: 100%;
    }

    profileImg {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        border-radius: 50%;
        padding: 5px;
    }

    details {
        margin-top: 10px;
        font-family: Helvetica Neue;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 130%;
    }

    stilling {
      width: 100%;
      font-family: Helvetica Neue;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      align-items: center;
      text-align: center;
      letter-spacing: 0.08em;
      text-transform: uppercase;
    }

    email {
      font-family: Helvetica Neue;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 130%;
      margin-top: 5px;
    }
}

@media screen and (max-width: 48em) {
    #kontaktperson {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}
